{% extends "base.html" %} 
{% block title %} 
Information 
{% endblock %} 
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 w-100 d-flex text-light align-items-center justify-content-center">
            <div class="box">                
                <p>
                    {% for n in infes %}
                        <span> {{ n.info }} </span>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
