{% extends 'base.html' %}
{% block title %}
A necessary, useful and beautiful framework
{% endblock  %}
{% block body %}
<div class="container-sm mt-2">
    <p> <a href="{% url 'notes' %}" style="color:white;text-transform: none; "> Design </a></p>
    <hr/>
    <p style="cursor:auto;"> <a href="https://www.djangoproject.com/" target="_new">A necessary, useful and beautiful framework</a> </p>
    <hr class="h"/>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock  %}