{% extends "base.html" %} {% block title %}Work{% endblock %} {% block body %}
<div class="row">
  <div class="col-sm">
    <div class="row">
      {% for ele in im %}
      <div class="col-sm-auto m-4">
        <div class="card m-4" style="width: 18rem">
          <img src="{{ ele.img.url }}" class="card-img" alt="..." />
          <div class="card-body">
            <p class="card-text"></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
